@model RailwayManagementSystem.Models.BookingInfo

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to cancell this ticket?</h3>
<div>
    <h4>BookingInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceStation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceStation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationStation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationStation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketFare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketFare)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingStatus)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Pnr" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
