@model RailwayManagementSystem.Models.BookingInfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BookingInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceStation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceStation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationStation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationStation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketFare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketFare)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingStatus)
            @if (Model.BookingStatus)
            {
                <label>Booked</label>
            }
            else
            {
                <label>Cancelled</label>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Pnr">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
